  body,
  html {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  * {
      font-family: 'Comfortaa', cursive;
  }

  *:focus {
      outline: none;

  }

  pre {
      width: 90%;
      margin: auto;
      margin-top: 10px;
      height: 230px;
      box-sizing: border-box;
      padding-bottom: 45px;
  }

  pre > textarea {
      border: 2px solid #1a8ad8;
      border-radius: 5px;
      resize: none;
  }

  pre > input {


      background-color: #ffffff;
      border: 2px solid #1a8ad8;
      border-radius: 5px;
      color: #1a8ad8;
      transition: 0.2s all;
      cursor: pointer;
      margin-top: 3px;
      float: left;
      margin-right: 15px;

  }

  pre > input:hover {
      color: #ffffff;
      background-color: #1a8ad8;
  }

  body {

      width: 100%;
      min-width: 700px;
      min-height: 350px;
      position: relative;
  }

  header {
      width: 100%;
      height: 30%;
      background: #1a8ad8 url(pattern.png) 50% 0 no-repeat;
      position: relative;


  }

  div.logo {

      width: 40%;
      margin: auto;
      padding: 4% 0;
      box-sizing: border-box;


  }

  img.logo-img {
      width: 100%;

  }

  div.buttons_block {
      width: 60%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 20px;
  }


  a.button {
      display: block;
      width: 33.333%;
      padding: 15px;
      background: #ffffff;
      color: #1a8ad8;
      border: 2px solid;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
      border-radius: 5px;
      font-family: 'Comfortaa', cursive;
      transition: 0.2s all;
      margin-top: 10px;
      position: relative;
  }

  a.button:hover {

      background: #1a8ad8;
      color: #ffffff;
  }



  div.logo::after {

      content: 'Скрипт для создания категорий';
      font-family: 'Comfortaa', cursive;
      display: block;
      width: 100%;
      text-align: right;

  }

  div.other::after {

      content: 'Другие плюшки';
  }

  #categories {
      display: none;
  }

  #textarea_block,
  .textarea_block {

      position: relative;
      width: 45%;
      margin: auto;
      padding: 20px 40px;
      transition: 0.2s all;
      margin-top: 30px;
      border: 2px solid #1a8ad8;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 50px;
  }

  textarea#text::after {
      content: '!';
      display: block;
      width: 30px;
      height: 30px;
      background-color: red;
      position: absolute;
      top: 0;
      right: -30px;
      z-index: 1000;
  }



  #text,
  .textarea {

      width: 90%;
      margin: auto;
      display: block;
      border: 2px solid #1a8ad8;
      border-radius: 5px;
      resize: none;
      margin-bottom: 10px;
      box-sizing: border-box;
  }

  #startEx,
  #startCharac,
  .startButton {
      display: block;
      margin: auto;
      margin-top: 10px;
      width: 50%;
      height: 2.5em;
      background-color: #1a8ad8;
      border: none;
      border-radius: 5px;
      color: #ffffff;
      font-size: 18px;
      cursor: pointer;


  }

  textarea#text:focus {
      outline: none;
  }


  .toogle {

      width: 30%;
      margin: auto;
      position: relative;
      border: 2px solid #1a8ad8;
      height: 30px;
      border-radius: 5px;
      margin-bottom: 35px;
  }

  .characterType {

      width: 80%;
  }

  .radio {

      display: block;
      width: 50%;
      height: 30px;
      position: absolute;
      left: 0;
      z-index: 10;
      margin: 0;
      opacity: 0;
  }

  #no,
  #string {
      left: 50%;
  }

  .radioBack {
      display: block;
      float: left;
      width: 50%;
      height: 30px;
      background: #ffffff;
      line-height: 34px;
      text-align: center;
      position: relative;
      z-index: 5;
      transition: 0.4s all;

  }

  #yes:checked ~ .yes,
  #select:checked ~ .select {
      background: #1a8ad8;
      color: #ffffff;
  }

  #no:checked ~ .no,
  #string:checked ~ .string {
      background: #1a8ad8;
      color: #ffffff;
  }

  #import_check.import_after:after {

      display: block;
      content: 'ну так используй на странице импорта !';
      width: 100%;
      padding: 2px 4px;
      position: absolute;
      top: 100%;
      left: 0;
      box-sizing: border-box;
      background-color: red;
      color: #fff;
      border-radius: 0 0 5px 5px;
      font-size: 12px;


  }

  #import_check.import_after {

      border-color: red;
      border-radius: 5px 5px 0 0;

  }

  p.code_block > span {
      font-size: 10px;
  }


  .tab {
      display: block;
      float: left;
      width: 33.3333333333%;
      height: 30px;
      background: #ffffff;
      line-height: 34px;
      text-align: center;
      position: relative;
      z-index: 5;
      transition: 0.4s all;
      color: #1a8ad8;
      cursor: pointer;
  }

  .tabs {

      width: 70%;
      margin: 20px auto;
      border: 2px solid #1a8ad8;
      border-radius: 5px;

  }

  .clear {
      clear: both;
  }

  .active_tab {
      background: #1a8ad8;
      color: #fff;
  }

  .bd_commands {

      padding: 0;
      width: 90%
  }

  .code_block > h3 {
      margin: 25px 0 25px 25px;
      text-align: left;
  }

  .tab_content {
      display: none;
  }


  #back {
      width: 10%;
      height: 50%;
      background: #fff;
      position: absolute;
      top: 25%;
      left: -2px;
      z-index: 1000;
      border: 2px solid #000;
      box-sizing: border-box;
      border-radius: 0 5px 5px 0;
      background: url(left-arrow.svg) 40% no-repeat;
      background-size: 40%;
      cursor: pointer;

  }

  #back:hover {

      background-color: rgba(255, 255, 255, 0.3)
  }


  #import_check {
      position: relative;
      z-index: 1000;

  }


  .bookInput {

      width: 90%;
      margin: auto;
      padding: 5px;
      transition: 0.2s all;
      margin-bottom: -2px;
      border: 2px solid #1a8ad8;
      border-radius: 5px 5px 0 0;
      text-align: center;



  }

  .__title {
      border-radius: 0 0 5px 5px;

  }

  div#settings {
      position: absolute;
      width: 25px;
      height: 25px;
      border: 2px solid #0000;
      border-radius: 5px;
      top: 0px;
      right: 0px;
      transition: 0.2s all;
      background-color: #fff;
      overflow: hidden;

  }

  #tableName {
      margin: auto;
      display: block;
      border: 2px solid #a0a9af;
      border-radius: 2px;
      resize: none;
      width: 80%;
      margin-top: 40px;
  }

  #tableName::before {
      content: 'Название таблици характеристик';
  }



  div#settings:hover {
      width: 100%;
      height: 20%;
      border: 2px solid #1a8ad8;
      top: -2px;
      right: -2px;
  }

  #settingsIcon {
      position: absolute;
      height: 25px;
      width: 25px;
      opacity: 0.2;
      transition: 0.2s all;
      top: 0;
      right: 0;
  }

  div#settings:hover #settingsIcon {
      opacity: 0.8;
  }

  #ParseStart {
      width: 70%;
      float: left;
      margin-left: 5%;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
  }

  #ParseStart_V2 {
      width: 20%;
      float: left;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      background-color: #fff;
      color: #1a8ad8;
      border: 2px solid #1a8ad8;
      transition: 0.2s all;
  }

  #ParseStart_V2:hover {
      background: #1a8ad8;
      color: #fff;
  }
